<form class="mt-4" (ngSubmit)="register()" [formGroup]="registerForm">
    <legend>Create an account</legend>

    <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" formControlName="name"
            [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
        @let nameErrors = registerForm.get('name')?.errors;
        @if (nameErrors?.['required']) {
        <div class="invalid-feedback">You must enter a username</div>
        }
    </div>
    <ng-container formGroupName="emailGroup">
        @let emailsGroup = registerForm.get('emailGroup')!;
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" formControlName="email"
                [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
            @let email = emailsGroup.get('email')!;
            @if (email.errors?.['required'] || email.errors?.['email']) {
            <div class="invalid-feedback">You must enter an email with the correct format</div>
            }
        </div>
        <div class="mb-3">
            @let emailConfirm = emailsGroup.get('email2')!;
            <label for="email2">Repeat Email:</label>
            <input type="email" class="form-control" name="email2" formControlName="email2" [class]="{
                'is-valid': email.value && emailConfirm.touched && !emailsGroup.errors?.['matchValues'],
                'is-invalid': emailConfirm.touched && emailsGroup.errors?.['matchValues'],
              }" />
            @if (emailsGroup.errors?.['matchValues']) {
            <div class="invalid-feedback">The emails must be equal.</div>
            }
        </div>
    </ng-container>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" formControlName="password"
            [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
        @let pswErrors = registerForm.get('password')?.errors;
        @if (pswErrors?.['required']) {
        <div class="invalid-feedback">You must enter a password</div>
        }
        @if (pswErrors?.['minlength']) {
        <div class="invalid-feedback">Your password is too short, it must be at least 4 characters long.</div>
        }
    </div>
    <div class="form-row">
        <div class="mb-3 col">
            <label for="lat">Latitude:</label>
            <input type="text" class="form-control" name="lat" formControlName="lat" placeholder="Geolocating..." readonly="readonly" />
        </div>
        <div class="mb-3 col">
            <label for="lng">Longitude:</label>
            <input type="text" class="form-control" name="lng" formControlName="lng" placeholder="Geolocating..." readonly="readonly" />
        </div>
    </div>
    <div class="mb-3">
        <label for="avatar">Avatar image</label>
        <input type="file" class="form-control" name="avatar" formControlName="avatar" #fileImage encodeBase64
            (encoded)="imageBase64 = $event" [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
        @let avatarErrors = registerForm.get("avatar")?.errors;
        @if (avatarErrors?.['required']) {
        <div class="invalid-feedback">An avatar is required</div>
        }
    </div>
    @if (imageBase64) {
    <img [src]="imageBase64" alt="Avatar preview" id="imagePreview" class="img-thumbnail mb-3" />
    }
    <div>
        <a [routerLink]="['/auth/login']" class="btn btn-secondary">Go back</a>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Create account</button>
    </div>
</form>