<div class="mt-4">
  <event-card class="col" [event]='event()' (deleted)="goBack()" (newAttendance)="getAttendance()"></event-card>
</div>
<div class="card mt-4">
  <div class="card-header bg-success text-white" id="address"><fa-icon [icon]="icons.faLocationDot"></fa-icon> {{ this.event().address }}</div>
  <div id="map"><ol-map [coordinates]="[event().lng, event().lat]">
      <ol-marker [coordinates]="[event().lng, event().lat]"></ol-marker>
    </ol-map></div>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header bg-danger text-white" id="address">Attendees to the event</div>
  <ul class="list-group" id="userList">
    @for (att of attendees(); track att.id){
    <li class="list-group-item">
      <a class="avatar" [routerLink]="['/profile', att.id]">
        <img class="rounded-circle float-start me-3" style="width: 40px;" src="{{ att.avatar }}"
          alt="{{ att.name }}'s profile" />
      </a>
      <div>
        <div><a class="text-decoration-none name" [routerLink]="['/profile', att.id]">{{ att.name }}</a></div>
        <div>
          <small class="email">{{ att.email }}</small>
        </div>
      </div>
    </li>
    }
  </ul>
</div>

<div class="card mt-4 mb-4">
  <div class="card-header bg-info text-white" id="address">User comments</div>
  <ul class="list-group" id="userComments">
    @for (comment of comments(); track comment.id){
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto text-center user-info">
          <a class="avatar" [routerLink]="['/profile', comment.user.id]">
            <img class=" rounded-circle" style="width: 40px;" src="{{ comment.user.avatar }}"
              alt="{{ comment.user.name }}'s profile" />
          </a>
          <div><small><a class="text-decoration-none name" [routerLink]="['/profile', comment.user.id]">{{ comment.user.name }}</a></small></div>
          <div><small class="date">{{ comment.date | date: 'dd/MM/yyyy h:mm a' }}</small></div>
        </div>
        <div class="col comment">
          {{ comment.comment }}
        </div>
      </div>
    </li>
    }
  </ul>
</div>

<form class="mt-4" (ngSubmit)="addComment()" [formGroup]="commentForm">
  <div class="form-group">
    <textarea class="form-control" name="comment" placeholder="Write a comment" formControlName="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-3" [disabled]="commentForm.invalid">Send</button>
</form>

<div class="mt-4 mb-4">
  <button class="btn btn-success" (click)="goBack()">Go back</button>
</div>