<div class="row mt-4" id="profile">
    <div class="col-3">
        <div>
            @if(!imageUpload()) {
                <img class="w-100" id="avatar" [src]="user().avatar" alt="{{ user().name }}'s avatar" />
            }
            @if (user().me && !imageUpload()) {
                <label class="btn btn-sm btn-danger">
                    <i class="bi bi-image"></i>
                <!-- <input type="file" class="d-none" #fileImage encodeBase64 (encoded)="changeAvatar($event)" /> -->
                <input type="file" class="d-none" (change)="runCropper($event)" />
                </label>
            }@else if (user().me && imageUpload()) {
                <cropper [image]="imageUpload()" [ratio]="1" [width]="200" (ready)="imgBase64 = $event"></cropper>
                <button class="btn btn-success" (click)="changeAvatar()">Save</button>
            }
        </div>
    </div>

    <div class="col-9" id="profileInfo">
        @if (!editProfile() && !editPassword()) {
        <h4 id="name">{{ user().name }}</h4>
        <h4 id="email">
            <small class="text-muted">{{ user().email }}</small>
        </h4>

        @if (user().me) {
        <div>
            <button class="btn btn-primary" id="editProfile" (click)="changeButton('profile')">
                <i class="fa-regular fa-pen-to-square"></i>
                Edit profile
            </button>
            <button class="btn btn-success" id="editPassword" (click)="changeButton('password')">
                <i class="fa-solid fa-lock"></i>
                Edit password
            </button>
        </div>
        }
        <div>
            <a [routerLink]="['/events']" [queryParams]="{ creator: user().id }">{{ user().name }}'s events</a>
        </div>
        <div>
            <a [routerLink]="['/events']" [queryParams]="{ attending: user().id }">Events attending</a>
        </div>
        }

        @if (editProfile()) {
        <div class="col-9" id="profileForm">
            <form (ngSubmit)="updateProfile()" [formGroup]="profileForm">
                <div class="mb-3">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" formControlName="name"
                        [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" required />
                    @let nameErrors = profileForm.get('name')?.errors;
                    @if (nameErrors?.['required']) {
                    <div class="invalid-feedback">You must enter a valid username</div>
                    }
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" formControlName="email"
                        [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" required />
                    @let emailErrors = profileForm.get('email')?.errors;
                    @if (emailErrors?.['required']) {
                    <div class="invalid-feedback">You must enter a valid email</div>
                    }
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Save changes</button>
                <button type="button" class="btn btn-danger" (click)="changeButton('profile')">Cancel</button>
            </form>
        </div>
        }

        @if (editPassword()) {
        <div class="col-9" id="passwordForm">
            <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
                    @let password = passwordForm.get('password')!;
                    @let password2 = passwordForm.get('password')!;
                    @if (password.errors?.['required']) {
                    <div class="invalid-feedback">You must enter a password</div>
                    }
                    <label for="password2">Repeat password:</label>
                    <input type="password" class="form-control" formControlName="password2" placeholder="Repeat password" [class]="{
                        'is-valid': password2.touched && !passwordForm.errors?.['matchValues'],
                        'is-invalid': password2.touched && passwordForm.errors?.['matchValues'],
                      }" />
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Save changes</button>
                <button type="button" class="btn btn-danger" (click)="changeButton('password')">Cancel</button>
            </form>
        </div>
        }
    </div>

</div>

<div class="card mt-4">
    <div class="card-header bg-success text-white" id="address">{{ this.user().name }}'s address</div>
    <div id="map">
        <ol-map [coordinates]="[user().lng, user().lat]">
            <ol-marker [coordinates]="[user().lng, user().lat]"></ol-marker>
        </ol-map>
    </div>
</div>