<div class="card shadow">
  <a [routerLink]="['/events', event().id]"><img class="card-img-top" [src]="event().image" [alt]="event().title" /></a>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/events', event().id]">{{ event().title }}</a>
    </h4>
    <p class="card-text">{{ event().description }}</p>

    <div class="row">
      <div class="col">
        @if (event().mine) {
        <div>
          <a [routerLink]="['/events', event().id, 'edit']" class="btn btn-success"><fa-icon [icon]="icons.faUserPen"></fa-icon> Edit</a>
        </div>
        <button class="btn btn-danger delete" (click)="deleteEvent()">
          <fa-icon [icon]="icons.faTrashCan"></fa-icon>
        </button>
        }
      </div>
      <!--ATTEND-->
      <div class="col-auto ms-auto">
        <div class="text-end attend-users"><fa-icon [icon]="icons.faPeopleGroup"></fa-icon> {{ this.event().numAttend }}</div>
        <div (click)="attendEvent()" (keydown.enter)="attendEvent()" tabindex="0" role="button"
          class="text-end m-0 attend-button" [ngClass]="{
                'text-success': this.event().attend,
                'text-danger': !this.event().attend
                }">
                @if (this.event().attend){
                  <fa-icon [icon]="icons.faThumbsUp"></fa-icon>
                }
                @else {
                  <fa-icon [icon]="icons.faThumbsDown"></fa-icon>
                }
          {{ this.event().attend ? " I'm going" : " I'm not going" }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted row m-0">
    <div class="col-auto avatar pl-1 pr-1">
      <a [routerLink]="['/profile', event().creator.id]">
        <img src="{{ event().creator.avatar }}" class="rounded-circle" alt="{{ event().creator.name }}" />
      </a>
    </div>
    <div class="col">
      <div class="name"><a [routerLink]="['/profile', event().creator.id]">{{ event().creator.name }}</a></div>
      <div class="date small text-muted">{{ event().date | date: 'dd/MM/yyyy' }}</div>
    </div>
    <div class="col-auto text-end text-muted">
      <div class="price small">{{ event().price | intlCurrency : "EUR" : "es-ES"}}</div>
      <div class="distance small">{{ event().distance }} km</div>
    </div>
  </div>
</div>